In [1]:
import requests

API_URL = "https://pxweb2.stat.fi:443/PxWeb/api/v1/fi/StatFin/velk/statfin_velk_pxt_113n.px"

params = {
  "query": [
    {
      "code": "Asuntokunnan rakenne",
      "selection": {
        "filter": "item",
        "values": [
          "s"
        ]
      }
    },
    {
      "code": "Tiedot",
      "selection": {
        "filter": "item",
        "values": [
          "asuvelat"
        ]
      }
    },
    {
      "code": "Vuosi",
      "selection": {
        "filter": "item",
        "values": [
          "2015",
          "2016",
          "2017",
          "2018",
          "2019",
          "2020"
        ]
      }
    },
    {
      "code": "Suuralue",
      "selection": {
        "filter": "item",
        "values": [
          "SSS"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

response = requests.post(API_URL, json=params)

response = response.json()

print(response.keys())

dict_keys(['class', 'label', 'source', 'updated', 'id', 'size', 'dimension', 'value', 'role', 'version', 'extension'])

In [11]:
for key, values in response.items():
    print(key, values)

class dataset
label Asuntokuntien velat muuttujina Asuntokunnan rakenne, Tiedot, Vuosi ja Suuralue
source Velkaantumistilasto, Tilastokeskus
updated 2021-12-17T06.00.00Z
id ['Asuntokunnan rakenne', 'Tiedot', 'Vuosi', 'Suuralue']
size [1, 1, 6, 1]
dimension {'Asuntokunnan rakenne': {'label': 'Asuntokunnan rakenne', 'category': {'index': {'s': 0}, 'label': {'s': 'Yhteensä'}}, 'link': {'describedby': [{'extension': {'Asuntokunnan rakenne': 'SCALE-TYPE=nominal'}}]}}, 'Tiedot': {'label': 'Tiedot', 'category': {'index': {'asuvelat': 0}, 'label': {'asuvelat': 'Asuntovelat, euroa'}, 'unit': {'asuvelat': {'base': 'euro', 'decimals': 0}}}}, 'Vuosi': {'label': 'Vuosi', 'category': {'index': {'2015': 0, '2016': 1, '2017': 2, '2018': 3, '2019': 4, '2020': 5}, 'label': {'2015': '2015', '2016': '2016', '2017': '2017', '2018': '2018', '2019': '2019', '2020': '2020'}}}, 'Suuralue': {'label': 'Suuralue', 'category': {'index': {'SSS': 0}, 'label': {'SSS': 'Yhteensä'}}, 'link': {'describedby': [{'extension': {'Suuralue': 'SCALE-TYPE=nominal'}}]}}}
value [86942146426, 88229757434, 88881825583, 88945502741, 89829746655, 92210849521]
role {'time': ['Vuosi'], 'metric': ['Tiedot']}
version 2.0
extension {'px': {'tableid': 'statfin_velk_pxt_113n', 'decimals': 0}}

In [3]:
values_list = response["value"]

print(values_list)

[86942146426, 88229757434, 88881825583, 88945502741, 89829746655, 92210849521]

In [9]:
years = response["dimension"]["Vuosi"]["category"]["label"]

years

{'2015': '2015',
 '2016': '2016',
 '2017': '2017',
 '2018': '2018',
 '2019': '2019',
 '2020': '2020'}

In [13]:
years_list = []

for key, value in years.items():
    years_list.append(value)
    
print(years_list)

['2015', '2016', '2017', '2018', '2019', '2020']

In [14]:
import pandas as pd

In [18]:
df = pd.DataFrame([years_list, values_list])

df

,0,1,2,3,4,5
0,2015,2016,2017,2018,2019,2020
1,86942146426,88229757434,88881825583,88945502741,89829746655,92210849521

In [19]:
df = df.transpose()

df

      0            1
0  2015  86942146426
1  2016  88229757434
2  2017  88881825583
3  2018  88945502741
4  2019  89829746655
5  2020  92210849521

In [20]:
df = df.rename(columns={0: "years", 1: "values"})

df

  years       values
0  2015  86942146426
1  2016  88229757434
2  2017  88881825583
3  2018  88945502741
4  2019  89829746655
5  2020  92210849521